.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 20px;
  max-width: 100%;
  gap: 0.5rem;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 100;

  & .logo {
    margin-right: 0.5rem;
  }

  & .img-wrapper {
    display: flex;
    align-items: center;
  }

  & .search-bar {
    display: flex;
    flex: 1;
    gap: 1rem;
    background-color: #eee;
    border-radius: 5rem;
    padding: 0.5rem 1rem;
    justify-content: space-between;
    align-items: center;

    & form,
    input {
      flex: 1;
      width: 100%;
      border: none;
      outline: none;
      background-color: transparent;
    }
  }

  .links {
    color: #767676;
    text-decoration: none;
    & ul {
      display: flex;
      justify-content: space-around;
      gap: 2rem;
      margin: 0 0.5rem;
    }
    & li {
      list-style: none;
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    & .submit-btn {
      border: none;
      outline: none;
      padding: 0.6rem 1rem;
      border-radius: 0.25rem;
      white-space: nowrap;
    }
  }

  & .search-svg,
  & .google-lens,
  & .bell {
    fill: #767676;
  }

  & .unsplash-plus {
    background: linear-gradient(135deg, #fa00ff, #00e0ff 50%, #fa00ff);
    background-clip: text;
    color: transparent;
  }

  & .main-menu-wrapper {
    border: 1px solid #d1d1d1;
    box-shadow: 0 8px 16px #00000029;
    border-radius: 5px;
    margin-top: 2rem;
    top: 1.2rem;
    right: 1rem;
    max-width: 650px;
    width: 100%;
    background-color: white;
    z-index: 200;

    position: absolute;
    color: black;
  }
  & .menu {
    z-index: 200;
    background-color: #fff;
    display: grid;
    padding: 24px 32px;
    grid-template-columns: 1fr 1fr 1fr;

    ul {
      cursor: pointer;
    }

    .img-wrapper {
      align-items: baseline;
    }
    .company,
    .product,
    .community {
      display: grid;
      grid-template-columns: 0.2fr 1fr;
      grid-template-rows: 0.1fr 1fr;
    }

    & ul {
      margin-top: 1rem;
      grid-column: 2/3;
      display: flex;
      flex-direction: column;
      justify-content: unset;
    }
  }

  .menu-ul {
    position: relative;
    cursor: pointer;
  }

  .nav-footer {
    color: #767676;
    grid-row: 2/3;
    display: flex;
    grid-column: 1/4;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 16px 32px;

    ul {
      display: flex;
      gap: 2rem;
      flex-direction: row;
      margin: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .nav-container {
    justify-content: flex-start;
    & .links {
      display: flex;
      & ul {
        & .advertise-li,
        & .blog-li,
        & .submit-btn-li,
        & .bell-li,
        & .unsplash-plus {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 456px) {
  .nav-container {
    .main-menu-wrapper {
      right: 0;
      & .menu {
        gap: 5px;
        padding: 24px 8px;
      }
      .company,
      .product,
      .community {
        gap: 4px;
      }
      & h3 {
        font-size: 14px;
      }
      font-size: 12px;
    }
  }
  .nav-container .links ul .submit-btn-li,
  .nav-container .links ul .bell-li {
    display: none;
  }
}
