* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main_outer_container {
  max-width: 1280px;
  margin: 0 auto;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 20px;
  max-width: 100%;
  gap: 0.5rem;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 100;
}
.nav-container .logo {
  margin-right: 0.5rem;
}
.nav-container .img-wrapper {
  display: flex;
  align-items: center;
}
.nav-container .search-bar {
  display: flex;
  flex: 1;
  gap: 1rem;
  background-color: #eee;
  border-radius: 5rem;
  padding: 0.5rem 1rem;
  justify-content: space-between;
  align-items: center;
}
.nav-container .search-bar form,
.nav-container .search-bar input {
  flex: 1;
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
}
.nav-container .links {
  color: #767676;
  text-decoration: none;
}
.nav-container .links ul {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  margin: 0 0.5rem;
}
.nav-container .links li {
  list-style: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.nav-container .links .submit-btn {
  border: none;
  outline: none;
  padding: 0.6rem 1rem;
  border-radius: 0.25rem;
  white-space: nowrap;
}
.nav-container .search-svg,
.nav-container .google-lens,
.nav-container .bell {
  fill: #767676;
}
.nav-container .unsplash-plus {
  background: linear-gradient(135deg, #fa00ff, #00e0ff 50%, #fa00ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.nav-container .main-menu-wrapper {
  border: 1px solid #d1d1d1;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1607843137);
  border-radius: 5px;
  margin-top: 2rem;
  top: 1.2rem;
  right: 1rem;
  max-width: 650px;
  width: 100%;
  background-color: white;
  z-index: 200;
  position: absolute;
  color: black;
}
.nav-container .menu {
  z-index: 200;
  background-color: #fff;
  display: grid;
  padding: 24px 32px;
  grid-template-columns: 1fr 1fr 1fr;
}
.nav-container .menu ul {
  cursor: pointer;
}
.nav-container .menu .img-wrapper {
  align-items: baseline;
}
.nav-container .menu .company,
.nav-container .menu .product,
.nav-container .menu .community {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: 0.1fr 1fr;
}
.nav-container .menu ul {
  margin-top: 1rem;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: unset;
}
.nav-container .menu-ul {
  position: relative;
  cursor: pointer;
}
.nav-container .nav-footer {
  color: #767676;
  grid-row: 2/3;
  display: flex;
  grid-column: 1/4;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 16px 32px;
}
.nav-container .nav-footer ul {
  display: flex;
  gap: 2rem;
  flex-direction: row;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .nav-container {
    justify-content: flex-start;
  }
  .nav-container .links {
    display: flex;
  }
  .nav-container .links ul .advertise-li,
  .nav-container .links ul .blog-li,
  .nav-container .links ul .submit-btn-li,
  .nav-container .links ul .bell-li,
  .nav-container .links ul .unsplash-plus {
    display: none;
  }
}
@media screen and (max-width: 456px) {
  .nav-container .main-menu-wrapper {
    right: 0;
    font-size: 12px;
  }
  .nav-container .main-menu-wrapper .menu {
    gap: 5px;
    padding: 24px 8px;
  }
  .nav-container .main-menu-wrapper .company,
  .nav-container .main-menu-wrapper .product,
  .nav-container .main-menu-wrapper .community {
    gap: 4px;
  }
  .nav-container .main-menu-wrapper h3 {
    font-size: 14px;
  }
  .nav-container .links ul .submit-btn-li,
  .nav-container .links ul .bell-li {
    display: none;
  }
}
.subNavWrapper {
  display: flex;
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 4px -6px rgba(0, 0, 0, 0.0784313725);
  color: #767676;
  padding: 0 1rem;
  font-size: 14px;
  position: sticky;
  top: 58px;
  background-color: #fff;
  z-index: 50;
}
.subNavWrapper ul li {
  position: relative;
  padding: 1rem 0;
  cursor: pointer;
}
.subNavWrapper ul a {
  list-style: none;
  text-decoration: none;
  color: inherit;
}
.subNavWrapper ul li.active::before {
  content: '';
  width: 100%;
  position: absolute;
  height: 2px;
  background-color: black;
  bottom: 0;
}
.subNavWrapper .static-ul {
  padding: 0;
}
.subNavWrapper .dynamic-ul,
.subNavWrapper .static-ul {
  display: flex;
  list-style: none;
  text-decoration: none;
  gap: 2rem;
  white-space: nowrap;
}
.subNavWrapper .dynamic-ul {
  overflow-x: scroll;
  position: relative;
}
.subNavWrapper .dynamic-ul::-webkit-scrollbar {
  display: none;
}
.subNavWrapper .vline {
  width: 1px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.2);
}
.subNavWrapper .arrow-right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.subNavWrapper .svg-wrapper {
  position: relative;
}
.subNavWrapper .svg-wrapper svg {
  background: white;
}
.subNavWrapper .arrow-left {
  display: none;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.main-banner {
  text-align: left;
  color: #fff;
  height: 600px;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}
.main-banner .lazy-load-image-background {
  position: absolute;
  z-index: -1;
}
.main-banner img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: -1;
}
.main-banner .center-div {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
  max-width: 950px;
  width: 100%;
  margin: 0 auto;
  padding-top: 10rem;
  padding-inline: 1rem;
}
.main-banner .center-div h1 {
  font-weight: 700;
  font-size: 46px;
}
.main-banner .heading {
  margin-top: 1rem;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.6;
}
.main-banner .heading2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.6;
}
.main-banner .search-bar {
  margin-top: 2rem;
  display: flex;
  max-width: 853px;
  width: 100%;
  gap: 1rem;
  background-color: #eee;
  border-radius: 0.5rem;
  padding: 0.8rem 1rem;
  justify-content: space-between;
  align-items: center;
}
.main-banner .search-bar .img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-banner .search-bar svg {
  fill: #767676;
}
.main-banner .search-bar input,
.main-banner .search-bar form {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
}
.main-banner .main-banner-footer {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5490196078);
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.main-banner .main-banner-footer span {
  color: #fff;
  cursor: pointer;
}
.main-banner .main-banner-footer .license {
  place-self: center;
}

@media screen and (max-width: 768px) {
  .main-banner .search-bar {
    display: none;
  }
  .main-banner .main-banner-footer {
    font-size: 11px;
    color: rgba(255, 255, 255, 0.5490196078);
    padding: 1rem 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .main-banner .main-banner-footer span {
    color: #fff;
  }
}
.grid-container {
  -moz-column-count: 3;
  column-count: 3;
  -moz-column-gap: 24px;
  column-gap: 24px;
  margin-top: 3rem;
}
.grid-container div {
  display: inline-block;
  width: 100%;
  background-size: auto;
  position: relative;
  transition: all 100ms ease-in-out;
}
.grid-container div img {
  width: 100%;
}
.grid-container div:hover .button-wrapper {
  opacity: 1;
}
.grid-container div:hover .user-details a {
  opacity: 1;
}
.grid-container div:hover .user-details .inner-user-div {
  opacity: 1;
}
.grid-container div .button-wrapper {
  display: flex;
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  justify-content: flex-end;
  gap: 0.5rem;
  z-index: 30;
  opacity: 0;
}
.grid-container div .button-wrapper .img-like,
.grid-container div .button-wrapper .img-plus {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 11px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  fill: #767676;
  border-radius: 0.5rem;
  font-size: 14px;
  height: 32px;
  line-height: 30px;
  padding: 0 11px;
}
.grid-container div .user-details {
  padding: 0 1rem;
  display: flex;
  position: absolute;
  bottom: 2rem;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}
.grid-container div .user-details .inner-user-div {
  height: 100%;
  display: flex;
  justify-content: baseline;
  align-items: center;
  margin: 0;
  gap: 1rem;
  opacity: 0;
}
.grid-container div .user-details .inner-user-div img {
  width: 35px;
  border-radius: 50%;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75) inset;
}
.grid-container div .user-details .download-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 11px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  fill: #767676;
  border-radius: 0.5rem;
  opacity: 0;
  transition: all 100ms ease-in-out;
}

@media screen and (max-width: 768px) {
  .grid-container {
    -moz-column-count: 2;
    column-count: 2;
    -moz-column-gap: 24px;
    column-gap: 24px;
    margin-top: 3rem;
  }
}
@media screen and (max-width: 456px) {
  .grid-container {
    -moz-column-count: 1;
    column-count: 1;
    -moz-column-gap: 24px;
    column-gap: 24px;
    margin-top: 3rem;
  }
}
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 200;
}

.outer {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: auto;
  inset: 0;
  z-index: 201;
}

.image-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.single-image-portal {
  border-top-right-radius: 0.2rem;
  border-top-left-radius: 0.2rem;
  padding: 1rem;
  max-width: 1650px;
  width: 100%;
  margin: 0 auto;
  margin-top: 16px;
  background-color: #fff;
  inset: 0;
  color: #767676;
}
.single-image-portal::-webkit-scrollbar,
.single-image-portal::-webkit-scrollbar-thumb {
  width: 4px;
  margin: 1rem;
}
.single-image-portal::-webkit-scrollbar-thumb {
  background-color: #d1d1d1;
  border-radius: 2rem;
}
.single-image-portal .profile-pic {
  gap: 8px;
  display: flex;
  align-items: center;
}
.single-image-portal .profile-pic .img-wrapper {
  max-width: 32px;
  max-height: 32px;
}
.single-image-portal .profile-pic img {
  width: 100%;
  border-radius: 50%;
}
.single-image-portal .profile-pic .user-info {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
}
.single-image-portal .cta {
  display: flex;
  gap: 0.5rem;
}
.single-image-portal .cta .img-like,
.single-image-portal .cta .img-plus {
  cursor: pointer;
  padding: 0 11px;
  height: 32px;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
  color: #767676;
  fill: currentColor;
  background: transparent;
  border: 1px solid #d1d1d1;
}
.single-image-portal .cta .img-like:hover,
.single-image-portal .cta .img-plus:hover {
  border: 1px solid black;
  fill: black;
}
.single-image-portal .cta .download-btn {
  cursor: pointer;
  color: #767676;
  fill: #767676;
  border-radius: 0.2rem;
  padding: 0 11px;
  height: 32px;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
  color: #767676;
  fill: currentColor;
  background: transparent;
  border: 1px solid #d1d1d1;
}
.single-image-portal .cta .download-btn:hover {
  border: 1px solid black;
  color: black;
}
.single-image-portal .cta .download-btn:hover .download-text {
  border-right: 0.5px solid black;
}
.single-image-portal .cta .download-btn .download-text {
  padding: 0 11px;
  height: 100%;
  line-height: 29px;
  border-right: 0.5px solid #d1d1d1;
}
.single-image-portal .cta .download-btn .downlaod-svg {
  padding: 8px;
}
.single-image-portal .cta .download-btn .downlaod-svg:hover {
  fill: black;
}
.single-image-portal .main-image-wrapper {
  max-width: 1050px;
  height: 750px;
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.single-image-portal .main-image-wrapper img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
.single-image-portal .image-description {
  margin-top: 28px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 24px;
  grid-template-rows: auto 1fr;
  grid-template-columns: fit-content(400px) 1fr auto;
}
.single-image-portal .image-description .img-desc-1 {
  grid-row: 1/2;
  grid-column: 1/2;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 160px));
}
.single-image-portal .image-description .img-desc-1 .view {
  display: flex;
  flex-direction: column;
}
.single-image-portal .image-description .img-desc-1 .image-downlaods {
  display: flex;
  flex-direction: column;
}
.single-image-portal .image-description .img-desc-3 {
  grid-row: 1/2;
  grid-column: 3/4;
  display: grid;
  grid-auto-flow: column;
  -moz-column-gap: 8px;
  column-gap: 8px;
}
.single-image-portal .image-description .img-desc-3 button {
  padding: 0 11px;
  height: 32px;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
  color: #767676;
  fill: currentColor;
  background: transparent;
  border: 1px solid #d1d1d1;
}
.single-image-portal .image-description .img-desc-3 button:hover {
  color: black;
  border: 1px solid black;
}
.single-image-portal .image-description .img-desc-2 {
  display: grid;
  grid-row: 2/3;
  grid-column: 1/2;
  row-gap: 4px;
}
.single-image-portal .image-description .img-desc-2 .pub-date,
.single-image-portal .image-description .img-desc-2 .pub-policy,
.single-image-portal .image-description .img-desc-2 .camera-specs,
.single-image-portal .image-description .img-desc-2 .img-location {
  display: flex;
  justify-content: baseline;
  align-items: center;
  gap: 1rem;
}
.single-image-portal .related-images {
  margin-inline: auto;
  max-width: 1320px;
}
.single-image-portal .related-images h4 {
  font-size: 18px;
  margin-block: 12px;
  padding-top: 5rem;
  font-weight: 400;
}

.grid-collection {
  display: grid;
  max-width: 300px;
  grid-template-columns: 1fr 1fr;
}

.container {
  max-width: 880px;
  margin: 0 auto;
}
.container h2 {
  text-transform: capitalize;
  margin-top: 1.5rem;
}
.container .grid-collection {
  display: grid;
  max-width: 300px;
  grid-template-columns: 1fr 1fr;
} /*# sourceMappingURL=main.css.map */
